// Core variables

// Global
$html-font-size: 10px;
$html-line-height: 1.428571429;
$font-size: 1.3rem;
$font-size-sm: 1.2rem;
$font-size-lg: 1.6rem;

// Sizes
$layout-padding: 1rem;
$layout-padding-lg: 1.5rem;
$control-min-width: 18rem;
$border-radius: 0.2rem;
$border-width: 0.1rem;

// Colors
// Core colors
$primary-color: #0055ff;
$primary-color-dark: darken($primary-color, 20%);
$primary-color-light: lighten($primary-color, 3%);
$secondary-color: lighten($primary-color, 40%);
$secondary-color-dark: darken($secondary-color, 3%);
$secondary-color-light: lighten($secondary-color, 3%);

$link-color: #747e94;
$link-color-dark: darken($link-color, 10%);

// Gray colors
$dark-color: #292e3b;
$darker-color: #353a45;
$light-color: #fff;
$gray-color: #d9dde4;
$gray-color-dark: darken($gray-color, 20%);
$gray-color-light: #d9dde4;

$border-color: lighten($gray-color-light, 3%);
$border-color-dark: darken($border-color, 15%);
$bg-color: lighten($dark-color, 66%);
$bg-color-dark: darken($bg-color, 3%);
$bg-color-light: $light-color;

// Control colors
$control-color-success: #32b643;
$control-color-warning: #ffb700;
$control-color-danger: #e85600;

// Other colors
$code-color: #e06870;
$highlight-color: #ffe9b3;

// Z-index and shadows
$zindex-0: 1;
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;

$body-bg: $bg-color-light;
$body-font-color: lighten($dark-color, 5%);

$blue-color: #4e92f7;

// own
$mainColor: #505c7e;
$dark-blue: #1c202a;
$lightGrey: #d7dae3;
$bgColor: #f0f1f4;
$heightMenu: 61px;
$blue: #22a5ff;
